.pclass {
  text-align: center;
  font-family: Arial,Helvetica,sans-serif;
  font-size:25px
}
.pitalics {
  font-style: Italic;
  font-family: bold; 
}
h1, h3, h4 {
  text-align: center;
  text-transform: none;
  font-family: Cursive;
}
.about {
  font-size: 20px
}
body {
  padding: 15px;
}
.container {
  max-width: 400px;
  margin: auto; 
}
.fixed {
  position: fixed;
    top: 10px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
